@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left, #C1B83E, #FFDC39 );
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #9681229a ;
}
h1{
    color:#c79709;
    text-align: center;
    text-shadow: 1px 1px 2px #836408b7 ;
}
h2{
    color: #5A7302;
}
p{
    text-align: justify;
}